<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moral Compass</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/dist/bundle.js" defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <template class="page-template" id="page-main">{{> main }}</template>
    <template class="page-template" id="page-homepage">{{> homepage }}</template>
    <template class="page-template" id="page-quiz">{{> quiz }}</template>
    <div id="app-root" style="display: contents"></div>
</body>
</html>
