<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="Cross-Origin-Opener-Policy" content="same-origin-allow-popups">
    <meta http-equiv="Cross-Origin-Opener-Policy" content="unsafe-none">

    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/moral-compass.png" type="image/x-icon">

    <title>Moral Compass</title>

    <script src="https://accounts.google.com/gsi/client" defer></script>
    <script src="/dist/index.js" defer type="module"></script>

</head>
<body>
    <!--
        while there is mention of SSR_INCLUDE, this app is still an SPA, after the initial
        page load, there no further requests to the server for HTML
    -->
    <template class="page-template" data-page="main" data-onmount="SPA.handlers.renderGoogleButton()"><!-- SSR_INCLUDE main --></template>
    <template class="page-template" data-page="homepage" data-onmount="SPA.handlers.initHomePage()"><!-- SSR_INCLUDE homepage --></template>
    <template class="page-template" data-page="quiz" data-onmount="SPA.handlers.initQuiz()"><!-- SSR_INCLUDE quiz --></template>
    <template class="page-template" data-page="results" data-onmount="SPA.handlers.initResults()"><!-- SSR_INCLUDE results --></template>
    <template class="page-template" data-page="others" data-onmount="SPA.handlers.initOthers()"><!-- SSR_INCLUDE others --></template>
    <template class="page-template" data-page="error"><!-- SSR_INCLUDE error --></template>
    <template class="page-template" data-page="manager" data-onmount="SPA.handlers.initManager()"><!-- SSR_INCLUDE manager --></template>
    <template class="page-template" data-page="user_tables" data-onmount="SPA.handlers.initUserTable()"><!-- SSR_INCLUDE user_tables --></template>
    <!-- this element has no semantic meaning, so its a div as there may only be one main element per page -->
    <div id="app-root"></div>
    <div id="app-loading">
        <p class="loading-text">Loading...</p>
        <div class="loading-bar"></div>
    </div>
  
     <dialog id="logout-confirmation-dialog">
        <form method="dialog">
            <h3>Confirm Logout</h3>
            <p>Are you sure you want to logout</p>
            <footer class="form-actions">
                <button value="cancel">No, take me back</button>
                <button value="confirm" class="danger">Logout</button>
            </footer>
        </form>
    </dialog>
</body>
</html>
