<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="Cross-Origin-Opener-Policy" content="same-origin-allow-popups">
    <meta http-equiv="Cross-Origin-Opener-Policy" content="unsafe-none">

    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/moral-compass.png" type="image/x-icon">

    <title>Moral Compass</title>

    <script src="https://accounts.google.com/gsi/client" defer></script>
    <script src="/dist/index.js" defer type="module"></script>

</head>
<body>
    <div>
        <button onclick="SPA.navigatePage('main')">main</button>
        <button onclick="SPA.navigatePage('homepage')">homepage</button>
        <button onclick="SPA.navigatePage('quiz')">quiz</button>
        <button onclick="SPA.navigatePage('results')">results</button>
        <button onclick="SPA.navigatePage('error')">error</button>
        <button onclick="SPA.navigatePage('manager')">manager</button>
        <button onclick="SPA.navigatePage('user_tables')">tables</button>
    </div>

    <template class="page-template" data-page="main" data-onmount="SPA.handlers.renderGoogleButton()"><!-- SSR_INCLUDE main --></template>
    <template class="page-template" data-page="homepage" data-onmount="SPA.handlers.initHomePage()"><!-- SSR_INCLUDE homepage --></template>
    <template class="page-template" data-page="quiz" data-onmount="SPA.handlers.initQuiz()"><!-- SSR_INCLUDE quiz --></template>
    <template class="page-template" data-page="results" data-onmount="SPA.handlers.initResults()"><!-- SSR_INCLUDE results --></template>
    <template class="page-template" data-page="error"><!-- SSR_INCLUDE error --></template>
    <template class="page-template" data-page="manager" data-onmount="SPA.handlers.initManager()"><!-- SSR_INCLUDE manager --></template>
    <template class="page-template" data-page="user_tables" data-onmount="SPA.handlers.initUserTable()"><!-- SSR_INCLUDE user_tables --></template>
    <div id="app-root" style="display: contents"></div>
</body>
</html>
