<main class="image-page">
    <article>
        {{> error_icon}}
        <section class="text-section">
            <h1>Oops!</h1>
            <p>
                An unexpected error has occured. Please try again later.
            </p>
        </section>
    </article>
</main>
