<main>
    <article id="homepage">
        <section>
            <h1>Home Page</h1>
            <button id="homepage-begin-quiz-btn" onclick="SPA.handlers.beginQuiz()">Begin Quiz!</button>
        </section>
    </article>
</main>
