<main id="home-page">
  <article>
    <section class="homepage-cards">
      <h1 id="welcome-heading"></h1>
      <p>Choose a path to begin…</p>
      <ul>
        <li id="card-quiz" class="bg-pastel-blue" onclick="SPA.navigatePage('quiz')">
          <img src="/static/new-dilemma-gen.png" aria-hidden="true">
          <h2>New Dilemma</h2>
          <p>Face a new moral quiz!</p>
        </li>
        <li id="card-results" class="bg-pastel-pink" onclick="SPA.navigatePage('results')">
          <img src="/static/user-stats-gen.png" aria-hidden="true">
          <h2>See Your Decisions</h2>
          <p>Review your choices from this session</p>
        </li>
        <li id="card-others" class="bg-pastel-green" onclick="SPA.navigatePage('others')">
          <img src="/static/community-gen.png" aria-hidden="true">
          <h2>What Others Chose</h2>
          <p>Compare with community stats</p>
        </li>
        <li id="card-manager" class="bg-pastel-purple" onclick="SPA.navigatePage('manager')">
          <img src="/static/manager.png" aria-hidden="true">
          <h2>Manage Questions</h2>
        </li>
        <li id="card-users" class="bg-pastel-purple" onclick="SPA.navigatePage('user_tables')">
          <img src="/static/manager.png" aria-hidden="true">
          <h2>Manage Users</h2>
        </li>
      </ul>
    </section>
  </article>
</main>
