<main class="main-page">
    <article aria-labelledby="sign-in-heading">
        <img src="/static/logo.png" alt="Moral Compass Logo">
        <section class="text-section">
            <h1 id="sign-in-heading">Welcome to Moral Compass</h1>
            <p>
                Moral Compass is a web app that challenges users to make ethical decisions
                through interactive morality quizzes, encouraging reflection on their
                personal values.
            </p>
            <p>Please sign in to continue.</p>
            <button class="google-btn" onclick="clickGoogleButton(event)">
                <img src="/static/google-logo.svg" alt="" aria-hidden="true"/>
                Sign in with Google
            </button>
        </section>
    </article>
</main>
