<main class="image-page">
    <article class="mainpage_article">
        <img src="/static/logo-2.png" alt="Moral Compass Logo">
        <section class="text-section">
            <h1 class="mainpage_heading">
                Explore the Grey Areas — How Will You Choose?
            </h1>
            <h4>Please sign in to continue.</h4>
            <button class="google_btn" onclick="SPA.handlers.clickGoogleButton()">
                <img src="/static/google-logo.svg" alt="" aria-hidden="true"/>
                Sign in with Google
            </button>
        </section>
    </article>
</main>
