<main class="image-page">
    <article class="mainpage_article">
        <img src="/static/logo-2.png" alt="Moral Compass Logo">
        <section class="text-section">
            <h1>
                What would you do?
            </h1>
            <button id="g_id_signin">Start Quiz</button>
            {{!-- <div id="g_id_signin"></div> --}}
           
        </section>
    </article>
</main>
