<main class="image-page">
    <article>
        <img src="/static/logo.png" alt="Moral Compass Logo">
        <section class="text-section">
            <h1>Welcome to Moral Compass</h1>
            <p>
                Moral Compass is a web app that challenges users to make ethical decisions
                through interactive morality quizzes, encouraging reflection on their
                personal values.
            </p>
            <p>Please sign in to continue.</p>

            <aside id="g_id_onload"
                data-client_id="534038687097-4ueh2o1b0d87ad38fpkgn3hi8mjeboga.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="handleCredentialResponse"
                data-auto_prompt="false">
            </aside>

            <button class="google-btn g_id_signin">
                <img src="/static/google-logo.svg" alt="" aria-hidden="true"/>
                Sign in with Google
            </button>
        </section>
    </article>
</main>
