<section class="quiz-container">
    <h1>Is it okay to break the law if it results in a greater good?</h1>
    <div class="container">
        <ul class="list">
        <li class="list__item">
        <input
            type="radio"
            class="radio-btn"
            name="question-1"
            id="choice-101"
            value="Choice Text 1"
            checked
        />
        <label for="choice-101" class="label">Yes, breaking the law is justified if it leads to good</label>
        </li>
        <li class="list__item">
        <input
            type="radio"
            class="radio-btn"
            name="question-1"
            id="choice-102"
            value="Choice Text 2"
        />
        <label for="choice-102" class="label">No, laws must be followed regardless of the outcome</label>
        </li>
        </ul>
    </div>
   <section class="quiz-container-footer">
     <p>Most respondents agree</p>
     <button class="btn-primary quiz-btn" onclick="SPA.navigatePage('results')">Next</button>
   </section>
</section>