<header>
  <nav>
    <img class="logo" src="/static/logo-2.png" alt="Moral Compass Logo">
    <section class="header-buttons">
      <button onclick="SPA.navigatePage('results')">Results</button>
      <button class="exit-btn" onclick="SPA.handlers.displayConfirmLogoutModal()">
        <!-- SSR_INCLUDE times_icon -->
      </button>
    </section>
  </nav>
</header>
<main id="quiz-page" class="loading-hidden">
    <article class="question">
        <header>
            <h1>{{questionText}}</h1>
        </header>
        <section>
            <ul>
                <template>
                    <label id="choice-{{choiceId}}">
                        <input
                            type="radio"
                            name="choice"
                            value="{{choiceId}}"
                            onchange="SPA.handlers.quizShowNext()"
                        />
                        <div class="agreement"></div>
                        <h6>
                            {{choiceText}}
                            <small>{{choicePopularity}}</small>
                        </h6>
                    </label>
                </template>
            </ul>
        </section>
        <footer>
            <p></p>
            <button onclick="SPA.handlers.quizShowAnswer()">Submit</button>
        </footer>
    </article>
</main>
