<main class="image-page quizpage_main">
    <img src="/static/logo-2.png" alt="Moral Compass Logo">
    <article class="quiz-page">
         <header class="navigation-controls">
            <section class="controls-wrapper">
                <progress id="quiz-progress" value="0" max="100" aria-label="Quiz progress"></progress>
                <button class="btn btn-quit" onclick="SPA.navigatePage('homepage')">Quit</button>
            </section>
        </header>
        <section id="question-container">
            <!-- Question content will be loaded here -->
        </section>
    </article>
</main>
