<main>
    <article id="results">
            <section>
                <header class="navigation-controls">
                    <section class="controls-wrapper">
                        <h1>RESULTS</h1>
                        <button class="btn btn-quit" onclick="SPA.navigatePage('homepage')">Exit</button>
                    </section>
                </header>
                
                <section id="results-container">
                </section>
            </section>
    </article>
</main>
