<header>
    <nav>
        <img class="logo" src="/static/logo-2.png" alt="Moral Compass Logo" onclick="SPA.navigatePage('homepage')">
        <section class="header-buttons">
            <button class="exit-btn" onclick="SPA.navigatePage('homepage')">
                <!-- SSR_INCLUDE times_icon -->
            </button>
        </section>
    </nav>
</header>
<main id="user-table-page">
   <section id="table-container" class="table-container">
             <template id="user-table-template">
                <table id="user-table" class="user-table">
                <thead>
                </thead>
                <tbody>
                    <!-- User Row -->
                </tbody>
                </table>
            </template>
        </section>
</main>