:root {
    --colour-primary: #4A3B74;
    --colour-bg-highlighted: #ffffff19;
    --colour-bg-highlighted-bright: #ffffff32;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    font-family: 'Kufam', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: var(--colour-primary);
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    color-scheme: dark;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

p {
   margin: 0; 
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.2em;
}

h5, h6 {
    font-size: 1em;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    > article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 3rem;
        max-width: 60rem;
        box-sizing: border-box;
        width: 100%;
        gap: 3rem;

        section, header, footer {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.error-icon {
    color: red;
    width: 100%;
    height: 100%;
    max-width: 10rem;
}

button {
    background-color: var(--colour-bg-highlighted);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    transition-duration: 150ms;
    cursor: pointer;

    &:hover {
        background-color: var(--colour-bg-highlighted-bright);
    }
}

.question {
    h1 {
        font-size: 2em;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        width: 100%;

        li {
            display: block;
            
            label {
                display: flex;
                position: relative;
                align-items: center;
                gap: 1em;
                border-radius: 0.5em; 
                font-size: 1.5em;
                padding: 1em;
                padding-bottom: 0.75em;
                color: white;
                line-height: 100%;
                cursor: pointer;
                transition-duration: 300ms;

                .agreement {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0%;
                    height: 100%;
                    background-color: limegreen;
                    opacity: 0.25;
                    border-radius: 0.5em;
                    transition-property: width;
                    transition-duration: 3s;
                }

                h6 {
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;

                    small {
                        opacity: 0;
                    }
                }

                input[type="radio"] {
                    display: none;
                }

                &::before {
                    display: inline-block;
                    content: '';
                    width: 0.8em;
                    height: 0.8em;
                    border-radius: 100%;
                    outline: 0.1em solid white;
                    margin-bottom: 0.15em;
                }
                
                &:has(> input[type="radio"]:checked) {
                    background-color: var(--colour-bg-highlighted);
                    
                    &::before {
                        display: inline-block;
                        background-color: white;
                        width: calc(0.8em - 0.4em);
                        height: calc(0.8em - 0.4em);
                        border: 0.2em solid var(--colour-primary);
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        width: 100%;
        gap: 1em;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 1.5em;
        box-sizing: border-box;

        p {
            transition-duration: 300ms;
            opacity: 0;
            font-size: 1.5em;
            pointer-events: none;
        }

        button {
            opacity: 0;
            pointer-events: none;
        }
    }

    &.show-answer {
        ul li label {
            background-color: var(--colour-bg-highlighted);

            small {
                opacity: 0.5;
            }
        }

        footer p {
            opacity: 0.5;
            pointer-events: unset;
        }
    }

    &.show-next footer button {
        opacity: 1;
        pointer-events: unset;
    }
}

#results-page .question {
    font-size: 75%;

    gap: 1em;

    header {
        align-items: start;
        h1 {
            font-size: 2.25em;
        }
    }
}

details {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    max-width: 37.5rem;
    margin: 1rem auto;
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    font-family: system-ui, sans-serif;
    transition: background-color 0.3s ease;
}
  
details[open] {
    background-color: #fff;
}

summary {
    font-weight: 600;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    position: relative;
}
  
summary::marker {
    display: none;
}
  
summary::before {
    content: '▸';
    display: inline-block;
    color: rebeccapurple;
    font-size: 1.4rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}


.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

#g_id_signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.homepage-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
}

.homepage-card-item {
    flex: 1 1 0;
    box-sizing: border-box;
    border-radius: 0.75rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.homepage-card-item:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    color: #007bff;
}

.card-link {
    display: block;
    text-decoration: none;
    padding: 1.25rem;
    color: #333; 
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.card-link h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-link p {
    font-size: 1rem;
    color: #000; 
}

.card-link img {
    max-width: 18rem;
    width: 100%; 
    height: 13.125rem; 
}


@media screen and (max-width: 46rem) {
    .main-page img {
        max-width: 10rem;
    }

    .image-page article {
        flex-direction: column;
        gap: 1rem;
    }

    .image-page img {
        max-width: 15rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .homepage-card-list {
        flex-direction: column; 
    }

    .homepage-card-item {
        flex: 1 1 100%; 
        margin-bottom: 1rem;
    }

    .logo {
        max-width: 5rem;
        padding: 0;
    }
    .nav-header {
        flex-direction: column;
    }
}

@media screen and (max-width: 37rem) {
    .homepage-card-item {
        flex: 1 1 100%;
    }
}

header {
    padding: 0.5rem 1rem;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .logo {
            max-width: 10rem;
        }
        
        .header-buttons {
            display: flex;
            gap: 1rem;

            .exit-btn {
                background-color: transparent;
                border: none;
                padding: 0.5rem;
                cursor: pointer;
                border-radius: 0.625rem; /* Rounded corners for the button */
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1); /* Subtle background change on hover */
                }

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}
